body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgb(1, 114, 167) 0%, 
          rgba(87,111,230,1) 25%, 
          rgba(152,68,183,1) 51%, 
          rgb(56, 0, 109) 100%
    );  
    animation: AnimateBG 20s ease infinite;
  }
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    
  }

  html {
    font-size: 64px;
  }

  .neon {
    color: rgb(255, 1, 107);
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px rgb(0, 255, 0),
      0 0 80px rgb(0, 255, 0),
      0 0 90px rgb(0, 255, 0),
      0 0 100px rgb(0, 255, 0),
      0 0 150px rgb(0, 255, 0);
  }